html {
  scroll-behavior: smooth;
}

.nav {
  display: flex;
}

.body {
  display: grid;
  flex-direction: column;
  justify-content: space-between;
}

.body_profile-foto {
  width: 300px;
  height: 300px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-foto {
  width: 300px;
}
