html {
  scroll-behavior: smooth;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: aqua;
  width: 100wv;
  list-style: none;
}

.body {
  display: grid;
  flex-direction: column, column;
  justify-content: center;
}

.about-me,
.code-example {
  text-align: left;
  margin-left: 10vw;
  margin-right: 10vw;
}

.cv-foto {
  width: 370px;
}

.nav-list,
.list-secondary,
.nav-a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.header {
  text-align: center;
  justify-content: space-between;
  background-color: aqua;
}

.main {
  text-align: center;
}

.footer {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  background-color: aqua;
}

.footer-foto {
  width: 300px;
}

.hight-light {
  color: orangered;
}

.bold {
  text-decoration: none;
  color: black;
}
